# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
bin/
obj/
*.dll
*.exe
*.pdb

# ASP.NET
appsettings.*.json

# Dotnet specific
*.dbmdl
*.bak
*.log

# Angular specific
dist/
node_modules/
*.log
.env

# Others
*.swp
*.DS_Store