<header>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
        <div>
            <img class="logo" src="logo.png" alt="">
        </div>
        <div class="headerLinks" [ngClass]="{'active':isMenuOpen}">
            <ul>
                <li *ngIf="isDriverOrPoster$ | async">
                    <a routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li *ngIf="isDriver$ | async">
                    <a routerLink="my-trips" routerLinkActive="active">My Trips</a>
                </li>
                <li  *ngIf="isPoster$ | async">
                    <a routerLink="manage-trips" routerLinkActive="active">Manage your trips</a>
                </li>
                <li *ngIf="isPoster$ | async">
                    <a routerLink="add-job" routerLinkActive="active">Add trip</a>
                </li>
                <li class="d-md-none">
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <div>
            <button class="btn btn-primary d-none d-md-block" (click)="logout()">Logout</button>
            <button class="hamburger-toggle d-md-none" (click)="toggleHamburger()">
                <i class="pi pi-bars"></i>
            </button>
        </div>
    </div>
    </div>
</header>
