<header>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
        <div>
            <img class="logo" src="logo.png" alt="">
        </div>
        <div class="headerLinks" [ngClass]="{'active':isMenuOpen}">
            <ul>
                <li *ngIf="isDriverOrPoster$ | async">
                    <a routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li *ngIf="isDriver$ | async">
                    <a routerLink="my-trips" routerLinkActive="active">My Trips</a>
                </li>
                <li  *ngIf="isPoster$ | async">
                    <a routerLink="manage-trips" routerLinkActive="active">Manage your trips</a>
                </li>
                <li *ngIf="isPoster$ | async">
                    <a routerLink="add-job" routerLinkActive="active">Add trip</a>
                </li>
                <li class="d-md-none">
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <div class="align-items-center gap-4 d-none d-md-flex">
            <span class="userName">Hi {{userName$ | async}} !</span>
            <div class="dropdown">
            <button class="noStyle profileIconBtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="pi pi-user"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item"><i class="pi pi-user-edit me-3"></i>My Profile</a></li>
                <li><a class="dropdown-item" (click)="logout()"><i class="pi pi-sign-out me-3"></i>Logout</a></li>
            </ul>
            </div>
        </div>
        <div class="hamburger-toggle d-md-none"> 
            <button (click)="toggleHamburger()"  class="hamburger noStyle" [class.open]="isMenuOpen">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    </div>
</header>
