<div class="modal fade show d-block confirmModal">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex align-items-center gap-4">
                    <div class="modal-icon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </div>
                    <div>
                        <h3>Confirmation</h3>
                        <p class="mb-0">{{confirmModalMessage}}</p>
                    </div>
                </div>
                
                <div class="d-flex align-items-center justify-content-between mt-4">
                    <button class="btn btn-outline-primary btn-sm" (click)="response('no')">No</button>
                    <button class="btn btn-primary btn-sm" (click)="response('yes')">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal-backdrop show"></div>